[2012-05-28 22:22] loudej opened #2 "BodyDelegate - what should the write operation look and work like"
### BodyDelegate transmit calls (joined vs split)

option a - draft 5
- `isasync = write(data, ()=>continue);`

option b - in code
- `isbuffering = write(data); isasync = flush(()=>continue);`

option c - for consideration
- return to single write operation, but add the flush semantics

**Consensus is option C**

[2012-05-28 22:33] loudej opened #3 "request & response headers (concat vs enumerable vs array)"
option a - draft 5
- `IDictionary<string,string>`

option b - in code
- `IDictionary<string,IEnumerable<string>>`

option c - for consideration
- `IDictionary<string,string[]>`

[2012-05-28 22:34] loudej opened #4 "AppTaskDelegate return value (tuple vs value-type)"
option a - in code
- `Task<Tuple<string, IDict<string,IEnum<string>>, BodyDelegate>>`

option b - for consideration
- `Task<OwinResponse>; struct OwinResponse { string Status, IDict headers, BodyDelegate body }`

[2012-05-28 22:34] loudej opened #5 "AppDelegate's ResultDelegate arguments (args vs value-type)"
option a - in code
- `result(string, IDict<string,IEnum<string>>, BodyDelegate)`

option b - for consideration
- `result(response); struct OwinResponse { string Status, IDict headers, BodyDelegate body }`

[2012-05-28 22:35] loudej opened #6 "Startup context (do nothing vs builder.Properties)"
option a - in code
- nothing, context at startup is application-specific solution

option b - for consideration
- `IDictionary<string,object> IAppBuilder.Properties` for intra-component (host/middleware/fwk/site) context at startup

[2012-05-28 22:44] loudej opened #7 "AppDelegate fault action"
option a - draft 5 and in code
- AppDelegate has a third, fault action passed in

option b - for consideration
- fault action added to environment because it's passed all over the place

option c - for consideration
- merge result and fault actions in AppDelegate, so ResultDelegate would have a nullable Exception argument added

Submitted by Duncan Pierce:

[2012-05-31 20:07] loudej commented on #2
Notes copied from email thread

So - the four actual methods would be:

Sync Write: write(data, null)
- if host can send data to kernel without entering a wait state: it should send data and return false
- if host can buffer data and send it in the background: it should buffer data and return true
- if host only knows how to do blocking writes: it should send data and return false

Async Write: wr

[2012-05-31 20:07] #2 closed, assigned to nobody

[2012-06-02 22:10] loudej commented on #2
See also discussion thread https://groups.google.com/d/topic/net-http-abstractions/k7JQP_Rk57Y/discussion

[2012-06-02 22:25] loudej commented on #3
Starting discussion thread https://groups.google.com/d/topic/net-http-abstractions/4se2_HP4KSs/discussion

[2012-06-02 22:53] loudej opened #9 "Environment key "owin.CallDisposed""
There's an ad-hoc key "host.CallDisposed" with a CancellationToken that will be signalled when a request/response cycle is entirely complete.

That is incredibly convenient for distributed cleanup. A framework could use register with this token to perform IoC container Per-Request scope disposal.

[2012-06-02 22:56] loudej opened #10 "Environment key "owin.HttpVersion""
Probably a value like "HTTP/1.0" or "HTTP/1.1"

Because OWIN allows such low-level control there are situations where you will likely need to know what protocol you are executing on, in order to respond exactly as the caller expects.

[2012-06-02 23:02] loudej opened #11 "Environment key "owin.TraceOutput""
Based on Rack's "rack.output" key - this would be a host-provided TextWriter that logging output could be directed onto.

This enabled a developer of an owin web site to have a consistent and host-agnostic place to direct runtime or diagnostic information.

For console application hosting this would map directly onto stdout. For aspnet this could be directed any number of places. Trace.WriteLine f

[2012-06-02 23:37] loudej commented on #6
Thread started https://groups.google.com/d/topic/net-http-abstractions/be_-dpncuDM/discussion

[2012-06-12 20:19] loudej commented on #3
Consensus is to use option C

Request and response headers represented as `IDictionary<string,string[]>`

https://github.com/owin/owin/wiki/Meeting---6-jun-2012

[2012-06-12 20:19] #3 closed, assigned to nobody

[2012-06-12 20:22] loudej commented on #10
See notes from meeting
https://github.com/owin/owin/wiki/Meeting---6-jun-2012

And discussion on thread
https://groups.google.com/d/topic/net-http-abstractions/-16Rm8ckoV8/discussion

[2012-06-12 20:25] loudej commented on #10
Consensus is to have

"owin.RequestProtocol" with established value of "HTTP/1.0" or "HTTP/1.1", and other values to be added in future.

[2012-06-12 20:25] #10 closed, assigned to nobody

[2012-06-12 20:26] loudej commented on #6
Consensus is to add this property

https://github.com/owin/owin/wiki/Meeting---6-jun-2012

[2012-06-12 20:26] #6 closed, assigned to nobody

[2012-06-12 20:34] loudej opened #12 "Adding more response properties, e.g. httpversion, trailing headers"
Introduced in discussion thread:
https://groups.google.com/d/topic/net-http-abstractions/rHqZaBHAcAo/discussion

Option A - add as additional arguments to ResultDelegate(...) as well as to AppTaskDelegate's Tuple<...>

Option B - add as additional keys to call env dictionary as response is returned

Option C - add as a single, open idictionary to ResultDelegate(...) as well as to AppTaskDelegate's

[2012-06-12 20:44] loudej opened #13 "Unify Request and Response representation"
option A - do nothing, call env dictionary in and response arguments and tuple out is fine

option B - represent as incoming app(a,b,c) args, outgoing result(a,b,c) args and return task<tuple<a,b,c>>

option C - represent as incoming value-type app(callparams), outgoing result(resultparams) and task<resultparams>

option D - represent as incoming app(idict env), outgoing idict result(idict resp) a

[2012-06-19 20:27] loudej commented on #13
For examples of these options see gist

https://gist.github.com/2920089

[2012-06-26 23:51] loudej commented on #13
Came up in meeting https://github.com/owin/owin/wiki/Meeting---20-jun-2012

Plan of record is to try updating Owin and Gate to C, to see if it works well, and switch to D if problems arise

[2012-06-26 23:51] #13 closed, assigned to nobody

[2012-06-26 23:54] loudej commented on #7
Discussed as part of https://github.com/owin/owin/wiki/Meeting---20-jun-2012

Plan of record is to go with C, so all callbacks will have an optional Exception parameter as the final argument

[2012-06-26 23:54] #7 closed, assigned to nobody

[2012-06-26 23:55] loudej commented on #4
Closed, as this is covered by #13

[2012-06-26 23:55] #4 closed, assigned to nobody

[2012-06-26 23:55] loudej commented on #5
Closed, as this is covered as part of #13

[2012-06-26 23:55] #5 closed, assigned to nobody

[2012-06-26 23:56] loudej commented on #12
This is covered by #13 and discussed in https://github.com/owin/owin/wiki/Meeting---20-jun-2012

[2012-07-03 19:46] #12 closed, assigned to nobody

[2012-07-25 06:04] loudej commented on #9
This is deprecated by the CallParameters.Completed member

[2012-07-25 06:04] #9 closed, assigned to nobody

[2012-08-09 20:02] #11 closed, assigned to nobody

[2012-08-09 20:02] Tratcher commented on #11
See host.TraceOutput.

[2013-02-15 12:37] gsscoder opened #18 "Contributor agreement sender missing"
I've printed, completed an signed the contributor agreement.

Please provide an address to send PDF.

Regards,
Giacomo Stelluti Scala

[2013-12-02 14:46] panesofglass opened #19 "Move IAppBuilder to Microsoft.Owin"
IAppBuilder is not part of the OWIN spec and should not be included in an owin.dll. This just confuses people new to OWIN.

[2013-12-02 14:52] tugberkugurlu commented on #19
-1. If it's going to be moved, Project Katana is not the place for that.

[2013-12-02 15:28] Tratcher commented on #19
I agree it causes some confusion, but IAppBuilder can't be moved without resetting the ecosystem.  I also wouldn't want to move it until there was an official replacement, so we could avoid breaking the world twice.

I also agree with Tugber, Microsoft.Owin is not the pace to put it.  Owin Contrib, in something named Owin.AppBuilder might work.

[2013-12-02 18:18] ThatRendle opened #20 "App/Middleware delegate should take Next delegate parameter"
The App/Middleware delegate signature should be:

`Func<IDictionary<string,object>, Func<Task>, Task>`

Similar to Node.js [Connect](https://github.com/senchalabs/connect)

This would provide a much clearer way for
1. Application delegates to say "I don't know what this is", or,
2. Middleware to integrate itself into the pipeline - see [this blog post](http://blog.markrendle.net/2013/10/01/fix-and

[2013-12-02 18:43] panesofglass commented on #20
We never specified a middleware signature. We left it explicitly undefined. This is the first real proposal. Thanks!

:+1:

[2013-12-02 18:45] panesofglass commented on #20
Also, this closely matches one of the existing IAppBuilder.Use overloads:

[code]

[2013-12-02 18:53] panesofglass commented on #19
What uses this outside Katana? It is, as far as I know, Katana specific.

[2013-12-02 18:55] panesofglass commented on #19
Also, there can be no replacement for an undefined spec. That this assembly exists is an historical accident/mistake.

[2013-12-02 19:15] half-ogre commented on #19
I see two problems here:
1. `IAppBuilder` has become the default "spec" for an OWIN builder. We really need a proper spec for a builder that is as flexible as OWIN itself (e.g., doesn't favor class construction as a means for context).
2. That builder interface is being shipped in a DLL and NuGet package named OWIN, when it's not OWIN but a builder interface.

I'd like to see a proper builder spec

[2013-12-02 19:15] panesofglass commented on #19
This is a simple matter of versioning. Owin.dll 2.0 = empty assembly :)

[2013-12-02 19:18] Tratcher commented on #19
How about taking this to the owin discussion list instead?

[2013-12-02 19:19] Tratcher commented on #20
How about taking this to the owin discussion list instead?

[2013-12-02 19:20] prabirshrestha commented on #20
Why not use IEnumerator to handle it? this would require not external dependencies. BCL would be more then enough.

[code]

We can then create an extension method on `IList<Func<AppFunc, AppFunc>>()` called `.Use` which calls `.Add`.
and `ToOwinApp` or `ToAppFunc` which converts it to `AppFunc`.

[code]

[2013-12-02 19:21] panesofglass commented on #19
I disagree that we need a builder spec. I agree we should finally define a standard for chaining these things, since that seems to be a pain point for some.

Mark's delegate works, as does

[code]

[2013-12-02 19:24] tugberkugurlu commented on #19
@panesofglass
forgive my ignorance but what problem do we solve if we don't have a builder spec?

+1 to @half-ogre IMO. Not having a really concrete spec for builder is what is the cause of the problem. Even making the IAppBuilder a spec would solve 90% of the problems (I agree that it's not ideal, though).

[2013-12-02 19:26] half-ogre commented on #19
That's a builder spec.

[2013-12-02 19:27] panesofglass commented on #19
@tugberkugurlu why do we need a builder? That is an implementation detail, not part of OWIN.

[2013-12-02 19:27] half-ogre commented on #19
I'm obviously biased given where I work, but I much prefer to keep things on a repo where the context lives.

[2013-12-02 19:28] panesofglass commented on #19
I agree with @half-ogre

[2013-12-02 19:29] Tratcher commented on #19
How much of the community is represented here?  This affects everybody.

[2013-12-02 19:32] panesofglass commented on #20
@prabirshrestha This was an early idea several of us threw out. It has long been ignored. I still like it. Thing is, both options are quite easy. If we could pick one, I think that would go a long way to resolving the problem of #19.

By the way, I find the `IEnumerator` bit a nice addition on top of the simpler: `Func<AppFunc, AppFunc>`.

Your implementation allows for a nicer, lazier constructio

[2013-12-02 19:36] panesofglass commented on #19
@Tratcher Most people are using Microsoft.Owin. I don't understand how moving this interface to Microsoft.Owin breaks people. Everything in Owin.Extensions already moved. How is this different?

Also, please note that we (inclusive of those on the Twitter discussion) are not saying `IAppBuilder` is evil, bad, etc. It's a Microsoft-specific solution that works just fine within the Katana ecosystem.

[2013-12-02 19:40] prabirshrestha commented on #19
+1 for `Func<AppFunc, AppFunc>` or any other solution that does not include `IAppBuilder`.
+1 for discussing it here. Might be someone should open post a new message in google groups and notify others to watch this repo.

[2013-12-02 19:41] tugberkugurlu commented on #19
@panesofglass MSFT has been putting a lot effort on OWIN based software and building great solutions. Honestly, I don't think I would care that much about _the-next-OWIN_ that "the community" (which I'm not part of apperently :)) will work on.

[2013-12-02 19:43] panesofglass commented on #19
As for who is involved, the Twitter discussion included @skoon, @GrumpyDev, @serialseb, @darrelmiller, @jeremydmiller, @markrendle, and others, covering NancyFx, OpenRasta/OpenHttp, Fubu, Fix/Simple.Web, and Dyfrig/Frank (F#). I'd say that's covering most of the framework community. @markrendle and I also have server libraries that are trying to support OWIN.

[2013-12-02 19:44] tugberkugurlu commented on #19
@panesofglass I need a builder spec so that the host that I'm crafting knows how to wire up the stuff.

[2013-12-02 19:44] Tratcher commented on #19
IAppBuilder was one of the early community proposals, it's not MS specific, it's just the one MS adopted.  There are already MS independent implementations out there.  It did unfortunately end up in Owin.dll without first being officially approved by the community.

IAppBuilder can be moved to help clear up the confusion, but doing so is going to be a big break because .NET ties type names to asse

[2013-12-02 19:46] panesofglass commented on #19
@tugberkugurlu Great! Why can't that exist in Katana? It's a great implementation. What's requiring you have that in an Owin.dll?

[2013-12-02 19:47] half-ogre commented on #20
I don't think changing the `app delegate` to add `next` is the solution. I think we need a defined `middleware delegate` that builders and hosts can consistently use. I've been using `Func<AppFunc, AppFunc>` pretty happily.

[2013-12-02 19:47] Tratcher commented on #20
@prabirshrestha do you have a full app sample available somewhere? There are several components in your snyppit that need more explanation.

[2013-12-02 19:47] panesofglass commented on #19
@Tratcher That was @loudej's recommendation. That was never accepted by the community at large. I recall the phone discussions acknowledging that was fine so long as it was not spec. Much of Gate moved to Katana. @bvanderveen helped, of course, but that was all still in the wild west days of the "Delegate of Doom" :tm:

I understand now the impact. Thanks. I'm happy to make the move once we settle

[2013-12-02 19:50] half-ogre commented on #20
A few reasons I can think of not to (and I admit I'm biased toward GitHub):
- the context (code) lives here
- I can pass a URL to a given comment to folks from here; can I do that on a Google list? Or can I only send a URL to the thread itself?
- Google lists are painfully slow on the web
- Email is terrible

[2013-12-02 19:50] tugberkugurlu commented on #19
@panesofglass Having a stable software is one thing that I'm all for. If the community you are talking about releases a software which doesn't step outside of the v0.\* for years, I'll stick with the MSFT solutions which seem to be pretty robust and have stable release cycles.

I don't think spiting _the commutiy_ into two will solve any of these problems and I don't also think most of the people

[2013-12-02 19:51] Tratcher commented on #19
Assuming the community can finally standardize the startup sequence, there's no reason Katana would need to keep Owin.dll / IAppBuilder either.  We use it for lack of a standard alternative.  We don't want to fork the community either.

[2013-12-02 19:51] panesofglass commented on #20
@Tratcher You could do that with a `fold`, or `Enumerable.Aggregate`. Same thing, really, using `Func<AppFunc, AppFunc>` as the primary composition mechanism. (Thus why I keep saying this is "built into F#.")

[2013-12-02 19:51] tugberkugurlu commented on #19
@panesofglass as @half-ogre said:

that's the builder spec.

[2013-12-02 19:54] half-ogre commented on #19
To be clear, I'm not saying we should specify how a builder is implemented. I'm saying we should specify how a middleware is used in a builder, in the same way OWIN specifies how an app is used (the `app delegate`).

[2013-12-02 20:00] prabirshrestha commented on #20
@Tratcher here is the link to the repo https://github.com/prabirshrestha/simple-owin
Samples can be found at https://github.com/prabirshrestha/simple-owin/blob/master/src/SimpleOwinAspNetHost/Samples/MiddlewareApps.cs and https://github.com/prabirshrestha/simple-owin/blob/master/src/SimpleOwinAspNetHost/Samples/SimpleOwinApp.cs

[2013-12-02 20:05] panesofglass commented on #19
@Tratcher We are in agreement there. I think specifying the startup sequence would be very useful. However, it still has to be fairly generic.

@tugberkugurlu I think it's terrific to use the Microsoft sponsored bits. I've already used Katana on several projects at work, and I'm about to do so again. This is hitting up against another issue, which is interop among OWIN implementations. Most fell b

[2013-12-02 20:17] Tratcher commented on #19
So, are we official re-convening the OWIN community to address startup? Finally?

If so, I might also suggest reviving the conference calls.  They were very useful the first time around for getting everybody on the same page.

[2013-12-02 20:30] prabirshrestha commented on #19
For reference: Here is a discussion from last year about the `IAppBuilder` - **IAppBuilder in the OWIN spec** https://groups.google.com/forum/#!searchin/net-http-abstractions/IAppBuilder/net-http-abstractions/Xy2l71SmYsQ/CUA6VJxDil4J

[2013-12-02 20:38] Tratcher commented on #20
- Plus - No dll reference
- Minus - Lots of extension methods on arbitrary framework types instead, which still need a home.

While this would deprecate Owin.dll, I think even more people would end up needing to carry around boiler plate code, something like the current Microsoft.Owin.dll, to make it consumable.

[2013-12-02 21:34] beyond-code-github commented on #20
The issue at the moment is not the delegate itself, it is simply the lack of a standard. Without a uniform point of entry, we can't be sure that middleware will be truly universal.

From my point of view it doesn't matter which standard is picked, as long as it fits the basic need.

[2013-12-02 21:34] ThatRendle commented on #20
I'm not understanding the benefits of `Func<AppFunc, AppFunc>`. It seems more complicated than necessary.

And I wrote the Delegate of Doom&trade;.

[2013-12-02 21:38] ThatRendle commented on #19
I'm up for discussing startup, and getting the middleware story properly sorted too. Let's get it done!

[2013-12-02 21:38] ThatRendle commented on #19
Oh, and IAppBuilder--.

[2013-12-02 21:48] half-ogre commented on #20
Compared to what instead?

[2013-12-02 22:08] skoon commented on #20
I do think we need to have some kind of linkage between this discussion and the mailing list. I originally chose Google Groups because everything else sucked worse for having a general discussion. But I do think that changes to THIS code should be in held in the context of the repo. I think changes to the OWIN spec should probably be located in the Google Group. That's my own

[code]

Connect foll

[2013-12-02 22:24] skoon commented on #19
I think this will always be in contention because we're stuck in CLR land (so to speak) and at SOME point, you've GOT to have a type. Delegates are great for defining the way items communicate, but the types will do all the heavy lifting of passing messages around and setting things up.

Maybe the specification is just that an OWIN compatible host will specify a type that will hoist the app, and t

[2013-12-02 22:38] half-ogre commented on #19
I think this thread is drifting, but:

I have only two goals: don't **require** a class for middleware, and let middleware be made one way that works everywhere, regardless of the builder or host impl' being used.

A first step toward that could be as simple as deciding on a `middleware func` and adding a new `Use` to the `IAppBuilder` interface: something like `IAppBuilder Use(Func<AppFunc, AppFu

[2013-12-02 22:44] half-ogre commented on #20
I'd personally like to see the spec move to its own repo and discussions, at least discussions about the spec itself, be in that repo (via issues). I agree that general OWIN stuff doesn't have a natural way to be discussed on GitHub. I think some amount of splitting is a fact of life for now.

[2013-12-02 22:58] panesofglass commented on #19
@half-ogre :+1:

[2013-12-02 23:06] Tratcher commented on #19
@half-ogre The docs for IAppBuilder.Use already specify `Func<AppFunc, AppFunc>`, or at least `Func<object, object>`
https://github.com/owin/owin/blob/master/src/Owin/IAppBuilder.cs

[code]

Middleware have never needed to be IAppBuilder aware, it was just a place where they could advertise via extension method if they wanted.

[2013-12-02 23:25] half-ogre commented on #19
The **XML doc** mentions passing the `AppFunc` to `Use`. No `IAppBuilder` impl' today would handle passing `Func<AppFunc, AppFunc>`, because it's not expected. That's the problem with `Use` taking `object` instead of `Func<AppFunc, AppFunc>`; unless it's the specific signature, or middleware invocation is properly specified (i.e., not in XML doc), it won't be consistently used.

MIddleware today i

[2013-12-02 23:30] half-ogre commented on #19
Okay, I _might_ be wrong about that, re-reading this in the XML doc:

But I'm not sure what `middleware func` signature would actually work with that statement, or if any of the app builder implementations would accommodate it. That's the problem with passing `object` around, and not having a proper spec.

[2013-12-02 23:42] Tratcher commented on #19
The delegate would look something like `Func<object, [params]..., object>`, where `Func<AppFunc, AppFunc>` is a valid input.  Yes it's vague, we were expecting more variety of middleware (such as System.Net.Http.DelegatingHandler).  If we can clarify after a years worth of experience, so much the better.

The constructor pattern outlined in the docs is just an extension of the `Func<AppFunc, AppFu

[2013-12-02 23:47] Tratcher commented on #19
And for reference, both patterns are supported in these implementations:
https://katanaproject.codeplex.com/SourceControl/latest#src/Microsoft.Owin/Builder/AppBuilder.cs
https://github.com/owin/owin-hosting/blob/master/src/main/Owin.Builder/AppBuilder.cs

[2013-12-02 23:54] ThatRendle commented on #20
@half-ogre Compared to `Func<IDictionary<string, object>, Func<Task>, Task>`

Which lets you write your middleware like

[code]

and also

[code]

It also means that the signature for applications and middleware can be the same, so you can chain multiple app/service frameworks and mix them up in the pipeline - is this Web API? No, OK, now we need to add in this HTML-minifying middleware and call o

[2013-12-03 00:02] Tratcher commented on #20
@markrendle That's certainly convenient, but I don't think it's the LCD.  For example, that doesn't allow for shimming or replacing the environment dictionary, correct?  (admittedly not common, but useful for linting and a few other scenarios).

I'm also curious how you address branching pipelines.

[2013-12-03 00:12] ThatRendle commented on #20
Hell, yes, you're absolutely right, and I even [updated Fix to this signature](https://github.com/FixProject/Fix/commit/c83704f33eceea70e78274d7004d2657d5ea755a):

`Func<IDictionary<string, object>, Func<IDictionary<string, object>, Task>, Task>`

So

[code]

Which totally allows replacing the environment dictionary for whatever nefarious reasons you might do that.

I don't know what you mean by b

[2013-12-03 00:14] ThatRendle commented on #20
There's a small selection of middlewares that use the `Func<Env, Funv<Env, Task>, Task>` signature here: https://github.com/simple-owin/

[2013-12-03 00:15] half-ogre commented on #19
I gave it a quick test, and can confirm that passing `Func<AppFunc, AppFunc>` worked beautifully. I feel like a bit of an ass now.

That said, I think it would be very helpful to add a `Use` overload with a "blessed" `middleware func` to `IAppBuilder`, so that middleware makers know, unambiguously, the "lowest common denominator" way to make their middleware that will work with any given builder o

[2013-12-03 00:20] half-ogre commented on #20
Yeah, `Func<IDictionary<string, object>, Func<IDictionary<string, object>, Task>, Task>` is what I started with as well. I feel like that's a good LCD, but I probably haven't yet built nearly as much middleware as you fine folks.

[2013-12-03 00:21] Tratcher commented on #20
I think you missed updating the first line of your sample.

By branching, I mean not all applications have a linear pipeline.  You may branch the pipeline based on URL, Auth, or some other aspect of the request.  You have one middleware that checks the condition, and then invokes next OR the side-branch.  For reference, this is what the Map extensions in Katana do.  Do you have any samples doing t

[2013-12-03 00:30] Tratcher commented on #19
Conceivable.  That said, the cost of versioning owin.dll/IAppBuilder is very high (e.g. breaks the world), so we want to wait until there's a definite consensus instead of adding incremental stopgaps.

[2013-12-03 00:34] half-ogre commented on #19
Why would adding a new `Use` overload that strongly-types something that's already supposed to work (and is actually working on the most commonly used impls) break anyone?

[2013-12-03 00:35] half-ogre commented on #19
To be clear, I'm talking about like a 2.0 here, not rev'ing 1.0.

[2013-12-03 00:52] ThatRendle commented on #20
I thought that was what you meant.

You'd just need a factory to build the AppFunc following some configuration. Simple.Owin.Static and Simple.Owin.Cors both have classes that take a bunch of config and then build the AppFunc delegate. There's even some very naughty implicit casting in there which makes them magically build if you pass them to Fix's Use function.

I'm envisioning something like

[

[2013-12-03 00:53] half-ogre commented on #19
Now that we've hashed that out, we should probably continue this on [the other issue](https://github.com/owin/owin/issues/20#issuecomment-29673947) and get back to the original point of this issue, the naming of the .dll and the NuGet package.

Naming this just Owin still feels wrong to me, as it's a builder interface. Even if it is to be the "blessed" OWIN builder interface, it seems like a bette

[2013-12-03 00:55] half-ogre commented on #20
@markrendle Yeah, that's what I'm doing in [my Dispatcher middleware](https://github.com/half-ogre/qed/blob/6266b835f70dad1c24ebf395df3d5fd526b98ec1/qed/OwinMiddleware/Dispatcher.cs#L33) as well.

[2013-12-03 04:35] skoon commented on #20
That signature makes my widdle head hurt.

[2013-12-03 06:24] panesofglass commented on #20
I'm not sure you guys realize this, but the `Func<AppFunc, AppFunc>` and `Func<IDictionary<string, object>, AppFunc, Task>` are the same thing with the parameters flipped.

This is very obvious using type aliases in the following F# example ([run in TryFSharp](http://www.tryfsharp.org/create/panesofglass/OwinMiddleware.fsx)):

[code]

I'm for either, though I like the relative simplicity and aesth

[2013-12-03 06:41] panesofglass commented on #19
It's still not `Owin.Builder` but `Katana.Builder`. I would like for us to make that clear. @tugberkugurlu indicated on Twitter that it was clear to him, but most people don't get this.

I would be really happy to have the standard `Use` take a `Func<AppFunc, AppFunc>`. I'm also very glad to know that Katana supports this today! If we standardize on that signature, then we should be able to move t

[2013-12-03 06:43] panesofglass commented on #19
Also, I think some of the reasons for keeping the `Func<object, object>` around are now gone. `HttpMessageHandler` doesn't apparently work well from a performance perspective, and most new middlewares have been written directly against OWIN/Katana.

[2013-12-03 08:02] grumpydev commented on #19
Playing devil's advocate here, I'd suggest we take a step back and question whether we even need a unified common interface or "standard" for startup/building the pipeline. Given how every implementation of a host/server will require different bootstrap code (i.e. you don't setup katana asp.net and self hosting the same way, you won't do the same thing with fix or openseb (sorry, don't know what i

[2013-12-03 08:05] grumpydev commented on #19
For reference, just so there's something concrete to look at (in reference to @half-ogre 's comments), this is Nancy's OWIN host:

https://github.com/NancyFx/Nancy/blob/master/src/Nancy.Owin/NancyOwinHost.cs

It has no dependency or reference on anything - just uses the func signatures - and it handles calling next. Our Nancy.Owin package does (currently) have a reference to Owin though, but that'

[2013-12-03 08:05] grumpydev commented on #19
Aaaand breath ;)

[2013-12-03 08:15] beyond-code-github commented on #20
I could definately get behind either

[code]

Either of these would also be compatible with the object contructor/invoke syntax from IAppBuilder which I have currently used in Superscribe for doing middleware routing

http://superscribe.org/examples.html#tab_owinpipelining

I wonder if it is best to support one approach (as would be correct) or specify that any pipeline builder needs to support tw

[2013-12-03 09:23] jeremydmiller commented on #19
Ditto to what Steven said from the fubumvc community.  I don't think that a one size fits all startup/bootstrapping mechanism will get a lot of adoption or be terribly useful.  Better yet, I think you want to wait and see how this stuff is actually consumed in the various frameworks before standardizing startup and bootstrapping anyway.

On Dec 3, 2013, at 2:02 AM, Steven Robbins notifications@git

[2013-12-03 11:14] serialseb commented on #19
I'd be happy for a Func<AppFunc,AppFunc> signature for middlewares being part of the spec. How a host initializes itself and load the middlewares is host specific, and I do not support making that into a spec. A common signature for "so i have a middleware, what do I do with it?" is something worth having in the spec and doesn't seem controversial. Then the IAppBuilder or whatever is just one buil

[2013-12-03 12:28] panesofglass commented on #19
I think we continue to have consensus on the type. Nancy's `OwinHost` is a class form of `Func<AppFunc, AppFunc>` (ctor takes the `next` `AppFunc` and `Invoke` is the "returned" `AppFunc`). @jeremydmiller, does Fubu use something similar? I assume it does since I'm fairly certain I remember you had a Russian Doll approach.

@grumpydev, I want to make sure I understand what you are saying. I think

[2013-12-03 12:31] grumpydev commented on #19
I had taken the common middleware as read, which was my mistake. I have no issue with a standardised startup/builder _at some point_, but I think the correct approach is to have multiple implementations and see if there's any clear "winner" when the dust settles (or not, that bit is optional), rather than go back and forth trying to spec one out.

[2013-12-03 12:35] panesofglass commented on #20
I think there is still some confusion about the middleware delegates. They are effectively the same thing. Here's the C# type definitions:

[code]

To convert between the two, here are a few helpers:

[code]

Now, is that really very bad? I don't think so. We could have both as "official", though picking one would probably reduce confusion. You can still pick the one you like best with minimal fus

[2013-12-03 14:06] ThatRendle commented on #20
I needed to write the code to properly understand this.

So, here's my original proposal:

[code]

and here's the other proposed alternative:

[code]

Difference being, in the first case you're working directly with the method that will be called on each request, and in the second case you're calling a kind of wrapper method ahead of time to curry(?) the actual method with the Next AppFunc. Have I

[2013-12-03 14:41] panesofglass commented on #20
Yes, you are correct that the second approach curries the next AppFunc. It works the same as HttpMessageHandler. I wouldn't say it necessarily "wraps," but I can see from your example what you mean. I still see it as simply flipping the parameters. In my F# samples above, both are curried, so the conversion is simply a generic function:

[code]

where f takes the parameters in the order b, a.

[2013-12-03 15:10] dahlbyk commented on #20
Or put another way, the difference is between:

[code]

vs

[code]

If you can implement one, you can implement the other, though the latter encourages an extra closure and is maybe less intuitive.

[2013-12-03 15:25] ThatRendle commented on #20
@panesofglass Your `flip` only applies to the long and middle forms of the func, though; the "short form" is actually different - `AppFunc -> Env -> Task` vs `AppFunc -> AppFunc` - that might be a simple case of precedence grouping in F# but is a big difference in C#.

[2013-12-03 15:55] jeremydmiller commented on #19
Ryan,

FubuMVC was built around the Russian Doll model from the beginning ("Behaviors"), except that we define the chain of behaviors per request/endpoint upfront at application startup time so that we depend much less on runtime logic and have effective diagnostic visualizations of what your app does.  Our model overlaps somewhat with the things I'm seeing folks try to do with OWIN middleware.

I

[2013-12-03 16:08] skoon commented on #19
I hope replying by email works.

The whole point of even having an OWIN.dll was to give folks something concrete to reference if they were interested in building their own middleware or app framework. If we've done the spec & OWIN.dll right, the OWIN compatible middleware should work on any other OWIN compatible host.  How you load the middleware is up to the host or framework.

So to me, this rep

[2013-12-03 16:26] panesofglass commented on #20
@markrendle Correct.

[2013-12-03 16:33] panesofglass commented on #19
@skoon the main reason for this was the difficulty of remembering the structure of the Delegate of Doom:tm:. With the new, simpler delegate, is that still necessary?

[2013-12-03 17:06] kevinswiber commented on #20
I realize I haven't been involved with this project for quite some time, but I figured I'd throw in another wrench.  If you choose to ignore it, my feelings will not be hurt.  ;)

Since the early OWIN days, I've moved to spending a lot more time in Node.js.  The same problem exists: building compose-able Web services with completely asynchronous behavior.  One hassle with the Connect-style middlew

[2013-12-03 17:15] skoon commented on #19
@panesofglass I do, simply because we're in a CLR world and folks need to write against types. The new delegate is simpler, but can is that future-proof? As .NET grows, I'm sure we'll revise the delegate as new language features are added to the language. I can see your point though.

I think that folks new to OWIN are having trouble accepting that the entire spec is a delegate. CLR folks are used

[2013-12-03 17:31] ThatRendle commented on #20
@kevinswiber Since OWIN targets .NET 4.0 and above, and is expected to be used primarily with .NET 4.5, the Task signature and async/await syntax deal with plugging into the response pipeline quite nicely.

To use your CORS example, and the delegate currently used by Fix:

[code]

[2013-12-03 17:37] Tratcher commented on #19
@grumpydev We definitely need to catch our breath.  This is more discussion than we've had in more than the last  year combine.  There's no strict rush at the moment, we'll continue to refine ideas, try them, come back with scars and wisdom, and repeat.  It's at least promising that people are moving generally in the same direction on this.

@skoon  The AppFunc and the IAppBuilder serve very diffe

[2013-12-03 17:47] Tratcher commented on #20
@kevinswiber That's a whole different can of worms involving the per request signature, where we've only been talking about the wire-up signature.  @markrendle that example only works if the response is fully buffered.  It won't work on servers without response buffering like HttpListener or Nowin. We've been working around it for the moment with an OnSendingHeaders event, which has been adequate

[2013-12-03 18:04] skoon commented on #19
@Tratcher Yeah, the using was just for example. To show people that the delegate is easy to use. The concern from my PoV is more centered on Microsoft "owning" the IAppBuilder interface and devs thinking that IAppBuilder is part of the spec and the one, blessed way. Even though the code is licensed to MonkeySquare.  From that PoV, we would want to make the change immediate and apparent.

I'm OK wi

[2013-12-03 18:28] Tratcher commented on #20
Glad people at least agree on the concept of `Func<AppFunc, AppFunc>`, in one form or another.  Let me pose another challenge to you:

So far all of the sample middlware have been very static, but that's less common in real middleware.  With patterns like the ones we've discussed, how do you propose to get configuration data into instances of the middleware?

For reference, there are two kinds of

[2013-12-03 18:54] panesofglass commented on #20
@kevinswiber That's an interesting point. If only we had specified the response `Stream` as `Action<Stream>`!

@Tratcher I'm happy with closures. I really prefer the simpler signature unless there exists a very compelling reason to change it. As you say, when you wrap that signature with a class, you can easily add additional parameters that would be treated as closures from a lambda.

[2013-12-03 19:37] prabirshrestha commented on #20
@Tratcher here is how I would pass configurations for `Func<AppFunc, AppFunc>`.

- optional arguments

[code]
- options class

[code]
- class with properties

[code]
- class with ctor

[code]

it can then be chained using.

[code]

Middleware writer would then need to expose one method that returns `Func<AppFunc, AppFunc>` or is `Func<AppFunc, AppFunc>`

In one of the owin call we did talk about p

[2013-12-03 19:57] Tratcher commented on #20
Ok, cool, those were about the data patterns I was expecting.

Some of the properties (like capabilities) are included per request, but it's often cleaner & more efficient to check config just once at startup.  You may even decide to construct your pipeline differently at startup depending on the capabilities advertised.

[2013-12-03 20:45] Tratcher commented on #19
@skoon What specific points did you want to address?

Not sure if you've all been watching, but the other thread (https://github.com/owin/owin/issues/20) has been making good progress.

[2013-12-03 21:58] ThatRendle commented on #20
@Tratcher Wait, what? I thought we weren't doing unbuffered responses. Wasn't that the whole single-vs-double-tap debate?

[2013-12-03 22:26] Tratcher commented on #20
@markrendle double-tap would have required response buffering in many scenarios, making it inappropriate for streamed responses.  Single-tap allows for buffered or un-buffered responses.  Asp.Net buffers responses unless you ask it not to. HttpListener has never supported buffering, but it could be added via middleware.

[2013-12-04 21:55] half-ogre commented on #19
I know it's hard to separate them, but there are two issues here: this one, #19, about where `IAppBuilder` should live (if it should live at all), and #20, on whether we can settle on a middleware delegate function that will let us all play nicely together whether or not we're using `IAppBuilder`. I think #20 is much more important, but of course this is important too.

Regarding what @grumpydev s

[2013-12-04 22:09] half-ogre commented on #19
There's definitely no need to rush, but neither should we sit idle. I suspect this increase in discussion matches an increase in OWIN interest, both in consumers and creators. That's why I think it's important to solve these things as early as a responsible pace accords, before it becomes even more painful to change.

This is a great point for all of us to remember, but also remember that the folk

[2013-12-04 22:52] Tratcher commented on #19
On a practical note....

Owin.nupkg v1.0 containing Owin.dll v1.0 containing IAppBuilder isn't going away, probably ever.  Multiple shipped products and frameworks depend on it. Nuget.org prohibits taking down packages for this reason.

The best migration story you could hope for is an Owin.nupkg v2.0 that redirects via package dependency to an Owin.Builder.nupkg v2.0 containing Owin.Builder.dll v

[2013-12-05 00:40] half-ogre commented on #19
I think this has all been practical.

Yep. There are dirty things we could do on the NuGet side, but they are dirty and I don't think there's a need. People will stop using the old bits in time. This is one reason we have package management, to get better stuff in the hands of folks without breaking those stuck in the past.

Why bother? The Owin package stays 1.0 forever and eventually falls out o

[2013-12-05 12:30] ThatRendle commented on #20
@panesofglass Argh! I pushed for `Action<Stream>` (or `Func<Stream,Task>`) as the response object in the first place. :-(

[2013-12-05 14:59] panesofglass commented on #20
@markrendle Yes, I remember. I was for that, too. Ah well.

[2013-12-05 15:04] panesofglass commented on #19
:+1:

Agreed.

While I don't disagree with you about the utility of a builder, Rack is a poor comparison. express for node is a better comparison. node doesn't provide any sort of builder abstraction; that's what express does. I see Katana as similar to express, as are Fix and Simple.Owin.

That said, I'm not opposed to an `Owin.Builder` in, say, [owin-contrib](https://github.com/owin-contrib). I

[2013-12-05 16:59] loudej commented on #19
Wow, what a week to be out of town!

@half-ogre came the closes to hitting the nail on the head

Regarding the name of the nupkg and dll - I do need to point out the `Rack::Builder` class is in the `Rack` gem, just like `Owin.IAppBuilder` is in the `Owin.nupkg`/`Owin.dll`.

I do agree there should be a standard implementation of `Owin.Builder.AppBuilder` class in an `Owin.Builder.nupkg`/`Owin.Buil

[2013-12-05 17:56] skoon commented on #19
Aren't we glad we settled on a delegate now? ;)

[2013-12-06 17:09] bbaia commented on #19
Interesting discussion, because I faced those issues while working on [connect-owin](https://github.com/bbaia/connect-owin).
I finally ended with what @loudej described: support for both OWIN primary interface `Func<IDictionary<string, object>, Task>` and `Owin.IAppBuilder`.

node does provide a sort of builder abstraction with [connect](http://www.senchalabs.org/connect/); express is based on con

[2013-12-06 18:11] panesofglass commented on #19
Oh, that's right! I forgot about connect. Thanks! I suppose an `Owin.Builder` would be something like connect, then? I would still prefer that be based on `Func<AppFunc, AppFunc>`, though.

[2013-12-06 18:23] half-ogre commented on #19
Connect sort of conflates Rack and Rack::Builder (or OWIN and Owin.Builder, if you prefer), going a step beyond simply including the builder in the main package like Rack does.

I still think it would be better for `IAppBuilder` to live in Owin.Builder than in owin.dll (Rack is Ruby-only, so we have some concerns it doesn't), but of the two things, settling on a middleware delegate function is far

[2013-12-06 18:29] panesofglass commented on #19
I can live with that. I also agree there is no reason to release a new owin.dll. Just let v1.0 die and start referencing Owin.Builder.dll.

I honestly just don't care about any builder abstraction. I have a feeling others, such as @markrendle, might. Again, I don't think anyone has shown that `IAppBuilder` is used in anything other than Katana, and since it doesn't match any OWIN signatures, it's

[2013-12-07 00:05] Tratcher commented on #19
@panesofglass  AppBuilder is all based on `Func<AppFunc, AppFunc>`, though as @skoon pointed out, we add types like this so we don't have to work directly against the LCD.  That's why it supports a few of the derived patterns as well.

Also, with the number of desperate packages already dependent on owin.dll v1, it would not be viable for them to move one-at-a-time to a type-incompatible owin.buil

[2013-12-07 05:04] panesofglass commented on #19
@Tratcher Perhaps I need to pose the problem a different way. Please tell me how I run the [Web API middleware](https://aspnetwebstack.codeplex.com/SourceControl/latest#src/System.Web.Http.Owin/HttpMessageHandlerAdapter.cs) on anything other than Katana today. How do I run that on Fix? How do I run it on Simple.Owin? How do I use it in a F# pipeline, such as the one below?

[code]

In addition to

[2013-12-07 10:33] serialseb commented on #19
I'm also of the opinion that I can delay further conversation and annoyance of IAppBuilder (on this list and as part of owin work anyway) until we have worked on the middleware signature as a spec.

Date: Fri, 6 Dec 2013 10:23:21 -0800
From: notifications@github.com
To: owin@noreply.github.com
CC: seb@serialseb.com
Subject: Re: [owin] Move IAppBuilder to Microsoft.Owin (#19)

Connect sort of confl

[2013-12-07 12:04] serialseb commented on #19
Same problem as for apps, this article is a good example:
http://www.asp.net/aspnet/overview/owin-and-katana/owin-startup-class-detection
How do I run this app without IAppBuilder? Where is the AppFunc exposed? How do I explain a host does not support IAppBuilder but is owin when the article says "Every OWIN Application has a startup class" and "The startup class shown in this tutorial can be used

[2013-12-07 16:56] loudej commented on #19
The consensus which formed is that the fundamental middleware definition is `Func<AppFunc, AppFunc>`.

The inline representation of this is

[code]

Although the actual request has the single env argument, it is simple to close over the next argument, so next was never part of the per-request signature.

Ruby was also examined to see how they kept the rackup syntax clean if their middleware are ea

[2013-12-07 17:03] serialseb commented on #19
I've come up with a builder specification that fits my needs well:

[code]

Date: Sat, 7 Dec 2013 08:56:20 -0800
From: notifications@github.com
To: owin@noreply.github.com
CC: seb@serialseb.com
Subject: Re: [owin] Move IAppBuilder to Microsoft.Owin (#19)

The consensus which formed is that the fundamental middleware definition is Func<AppFunc, AppFunc>.

The inline representation of this is

int c

[2013-12-07 19:12] davidfowl commented on #19
I gotta say, I've been following this thread for a while and I'm seeing a bunch of assumptions without people actually asking if things are supported or not. Twice on this same thread I've seen assumptions debunked. Owin.dll is optional, IAppBuilder does not need to be moved and it provides a very nice pattern for wiring up middleware.

The katana hosts supports a few patterns:

The IAppBuilder wa

[2013-12-07 19:28] serialseb commented on #19
How does that work with the example I linked from the asp.net website?

Date: Sat, 7 Dec 2013 11:12:36 -0800
From: notifications@github.com
To: owin@noreply.github.com
CC: seb@serialseb.com
Subject: Re: [owin] Move IAppBuilder to Microsoft.Owin (#19)

I gotta say, I've been following this thread for a while and I'm seeing a bunch of assumptions without people actually asking if things are supporte

[2013-12-07 19:34] davidfowl commented on #19
@serialseb which part of the doc? There's tons of examples in there. The fact that your host may not support IAppBuilder is irrelevant, just throw an exception saying it doesn't. You don't have to use the Startup convention that katana uses and even if you did, it doesn't need to support IAppBuilder.

I guess I just don't see why we need to move or change IAppBuilder in anyway. It's additional goo

[2013-12-07 19:35] panesofglass commented on #19
@davidfowl @Tratcher just mentioned above that Static Files is the first to support this. I'm very glad to know that this will be the migration forward. However, most of the middlewares I've looked at don't support this ease of interoperatbility. You also miss the point. I'm not saying `IAppBuilder` is bad or doesn't work. I'm saying **`IAppBuilder` is only used in Katana stuff and is causing midd

[2013-12-07 19:50] davidfowl commented on #19
IAppBuilder isn't only used in katana stuff (connect-owin/nancy/signalr use/support it for example) and the ecosystem is brand new so saying that only katana supports it means nothing, it was just the first one to take a bigger bet on it.

To your second point, maybe it wasn't agreed upon and I'm sure the calls fell off or people became uninterested at some point but why bother breaking the ecosys

[2013-12-07 20:06] prabirshrestha commented on #19
The reason I have been personally against `IAppBuilder` being in the core `owin.dll` is because nothing about it is mentioned in the spec - http://owin.org/spec/owin-1.0.0.html Hence the move to `Owin.Builder.dll` or better to `Katana.Builder.dll`.

What about having something like the `OWIN Key Guidelines and Common Keys` for middleware, builders and starters? This also means we wouldn't need to

[2013-12-07 20:16] davidfowl commented on #19
It's not in the spec because it's optional (same as Owin.dll). It doesn't belong in anything called Katana*.dll (IMO).

I can get behind another guideline document that shows outlines ways to startup (if people can agree on that).

[2013-12-07 20:40] schmylan commented on #19
Not a solution here, just helping shape the conversation.  So we have the `Katana Way` :tm: and the `Raw Way` :tm:.  Many devs' confusion would be reduced if there was an alternative to `Katana`.  It would help unblur the lines regarding where OWIN stops and where "personal preference" begins.

Update: no not inside owin.dll, just from the communitiy.

[2013-12-07 20:48] prabirshrestha commented on #19
Most of us here in this discussion would know that Owin.dll is optional. But it has definitely been confusing to those new folks who jump on owin. With `IAppBuilder` part of it they think it is part of the owin spec.

The only problem would be if someone else writes a new builder then I would need to reference `X.Builder.dll` to add something like `app.UseNancy()`. Hence the issue #20. I don't car

[2013-12-07 20:59] panesofglass commented on #19
:+1: to @prabirshrestha.

@schmylan I noted several alternatives above, none of which use `IAppBuilder`. You can read [the wiki](https://github.com/owin/owin/wiki/Implementations) for the list, as well.

[2013-12-07 21:06] davidfowl commented on #19
@panesofglass to be pedantic, connect-owin uses an AppBuilder internally and it supports that pattern. https://github.com/bbaia/connect-owin/blob/master/src/OwinMiddleware.cs#L59

[2013-12-07 21:11] loudej commented on #19
And Fix does expose IAppBuilder, although not yet in a way that's as compatible as it could be with connect-owin or microsoft.owin, https://github.com/markrendle/Fix/blob/28779d381dcc746ac339e92e6e3eed69b358bdd7/src/Fix.AppBuilder/FixAppBuilder.cs

[2013-12-07 21:28] davidfowl commented on #20
Tangent: You can build one on top of the other but not vice versa. The current abstraction is more powerful and it allows for building the Action<Stream>, HttpMessageHandler, request/response pattern which is arguably better for certain kinds of http applications (like making APIs) but not for streaming (SignalR style) applications.

[2013-12-08 00:49] serialseb commented on #19
Self-censored unconstructive comments.

[2013-12-08 05:23] loudej commented on #19
What colorful imagery! :)

I appreciate the passion as well, as a starting point it's something we all have in common.

[2013-12-08 06:13] panesofglass commented on #19
@loudej LOL. Also, thank you and @davidfowl for pointing to two implementations that use the current interface.

That said, I don't know if you can really count Fix since, as you note, it sort of paints the problems in the ambiguity of the interface. One might argue that, with the looseness of the interface, we would be just as well off with another dictionary or even ExpandoObject. (Dictionary wa

[2013-12-08 07:36] damianh commented on #19
Everyone needs to take a deep breath. Threatening 'nuclear option' is never going to be a productive stance.

The owin nuget package shipped in November 13, 2012. Owin the project and owin.dll existed for some time before that. It seems to me that important people either took their eye off the ball / abandoned the process / dropped off the map / whatever. And now that things have gained traction,

[2013-12-08 15:02] panesofglass commented on #19
@damianh I agree the next step is restoring governance.

To your point about owin.dll, that originally existed to provide the Delegate of Doom. IAppBuilder, or its predecessor, existed in Gate, and most or all of Gate moved to Katana. IAppBuilder moved over and replaced the spec'd OWIN delegate. I wish I could find any docs or minutes on that.

One problem we must address is that a community effor

[2013-12-08 17:46] prabirshrestha commented on #19
@loudej @Tratcher might be one of you guys can start the first draft of middlewares guidelines on it.

[2013-12-08 17:52] half-ogre commented on #19
+:100: to this. I don't see new points being made here. I think we've reached that time when OWIN's governors need to either raise new points to be addressed before a decision can be made, or make a decision. (And if OWIN's governance has been to reach consensus of all the many voices involved, I think it has outgrown that model.)

[2013-12-08 18:04] Bobris commented on #20
Sorry to be late to this party. Just comment to @markrendle Cors sample: why not add that header before calling next? That would solve problem with not buffering, doesn't it.

[2013-12-08 19:28] EddieGarmon commented on #20
As I see it, one of the fundamental advantages of `Func<Env, AppFunc, Task>` over `Func<AppFunc, AppFunc>` is the ability to dynamically change the pipeline at execution time, not just at composition/startup.

[2013-12-08 20:18] Bobris commented on #20
`Func<Env, AppFunc, Task>` ability to dynamically change the pipeline is nice, I just don't see any interesting usecase for it (anybody care to share?) and resulting pipeline could be harder to reason about.
With `Func<AppFunc, AppFunc>` you don't need any builder you just build it backwards without any helper method (You still need 404 kind of `AppFunc`).

[2013-12-09 03:03] loudej commented on #19
@half-ogre Well said. It remains to be seen if we have outgrown the governance model which was in effect. Let's put it to the test!

The issue #19 will remain open pending an actual conclusion. It will be added to the agenda for the next call, Wed 11th Dec 2013, 11am Pacific, 7pm London.

On Monday look to https://github.com/owin/owin/wiki for the call-in details and agenda. That information will

[2013-12-10 05:57] prabirshrestha commented on #19
While we are on the `IAppBuilder` stuff.

After a chat with @davidfowl and @loudej on jabbr. They have confirmed that `IAppBuilder` isn't needed for the startup.

So this works for any other hosts that wants to auto load and start the app without dependencies on `IAppBuilder` on katana.

[code]

something like this is possible if you want to take dependency on `IAppBuilder` without exposing `IAppB

[2013-12-10 07:22] half-ogre commented on #19
@prabirshrestha I don't think anyone is or was mistaken on whether owin.dll is required by other hosts or builders. It's about `IAppBuilder` being given an unwarranted primacy of place in owin.dll, and the potential for it to be perceived as a "blessed" interface as a consequence of that placement.

[2013-12-10 09:51] loudej commented on #19
It is something he was mistaken about, or he wouldn't have posted it as a clarification. And owin.builder.dll is no less "blessed" than owin.dll.

[2013-12-10 13:12] ThatRendle commented on #20
@Bobris Yeah, it wasn't a very good example, but there are cases where you'd want to await the next func and act on information in the response.

[2013-12-10 14:57] davidfowl commented on #19
To what @panesofglass said in https://github.com/owin/owin/issues/19#issuecomment-30083242. IAppBuilder wasn't something Microsoft came up with. It was incubated in gate and put into owin.dll and then Katana took a dependency on owin.dll.

Also Katana was written from scratch so even though it looks like some pieces were similar (a request and response type for e.g.) it wasn't a port of gate, so t

[2013-12-10 15:55] half-ogre commented on #19
Good point. I'm sorry @prabirshrestha.

[2013-12-11 05:03] panesofglass commented on #19
@davidfowl You are correct. The details of my statements are imprecise. However, I didn't and don't want to start digging through swaths of mailing list and commit histories to get it absolutely right. I also don't want to get into an argument about it so I'll let it drop. How about I add that that comment represents the ultimate impact I feel? That's sufficiently nebulous, n'est pas? :)

[2013-12-11 05:07] panesofglass commented on #20
@EddieGarmon @Bobris I must be missing something. How are you going to dynamically change the pipeline at execution time? Also, how does `Func<AppFunc, AppFunc>` limit this? To the latter point, I could see that you would be stuck if you partially applied the first `AppFunc`, but that's not necessary. Perhaps I'm thinking too much in F#?

[2013-12-11 15:06] Bobris commented on #20
@panesofglass Changing pipeline would need to be build-in feature of the Builder somehow, I also don't know why it would be needed. It does limit it only in efficiency - closure has to be always created in `Func<AppFunc, AppFunc>`, but not in other case. Of course because it is not AppFunc, closure must be somewhere, but it does not need to be immutable closure, and that could be difference in C#

[2013-12-11 17:20] davidfowl commented on #19
Assuming everybody saw this since we check the google group everyday right?  https://plus.google.com/u/0/communities/109533727694251511644

Come voice your concerns in a few hours :smile:

[2013-12-11 22:51] reidperyam commented on #20
For what it's worth I'm not smart enough to think of this myself (I needed @Bobris' help).

[code]

What will OWIN peons like me to when smart guys aren't around?

[2013-12-12 16:31] loudej commented on #20
Ask the Simple.Owin guys to provide the extension methods on IAppBuilder in their assembly

:D

[2013-12-12 17:01] prabirshrestha commented on #20
seems like there are two simple owin stuffs which are totally different and has caused some confusion.

one is mine which can be found at https://github.com/prabirshrestha/simple-owin (includes the asp.net host and small middlewares as samples only for educational purposes)
and the other is @markrendle which can be found at https://github.com/simple-owin (middlewares only)

I believe @TheFastCat i

[2013-12-12 21:06] half-ogre commented on #19
Will someone please provide a summary of the portion of the call's discussion pertaining to this issue? Thanks!

[2013-12-12 21:07] half-ogre commented on #20
Was this issue discussed during the OWIN call yesterday?

[2013-12-12 21:28] panesofglass commented on #20
@half-ogre No. We agreed we should wait until we have established a governance model before moving forward with additions or changes to the OWIN specification.

[2013-12-12 22:41] panesofglass commented on #19
I think we all sort of understood the problems and decided not to touch owin.dll or `IAppBuilder`. Whatever governance we set up will need to make a decision as to what happens next. @loudej suggested we elect a non-Microsoft employee for at least the "chair," (my term). @skoon volunteered to follow-up with @dragan about some things, though I don't have the list. I believe at least one of those it

[2013-12-12 22:42] panesofglass commented on #19
I'll leave this open until the new governing body can come to a conclusion. I don't think anything is going to happen to the historical owin.dll. However, what happens going forward is up in the air.

[2013-12-13 03:43] loudej commented on #19
- introductions

Ten people present in google hangout at high water mark, and jabbr owin
room was monitored for people unable to connect. no problems.
- governance

loudej proposed that skoon contact dragan and that together they
collaborate on establishing a governance model

proposal seconded by ryan

skoon foolishly accepted, and is in the process of getting a monocle and
bald cat
- issue #19

[2013-12-20 00:02] davidfowl commented on #20
So  `Func<AppFunc, AppFunc>` right? :smile:

[2013-12-20 03:15] panesofglass commented on #20
Sounds like it. I think we are waiting to convene a governing body. @skoon, are we waiting on you for that?

[2013-12-20 04:18] skoon commented on #20
Yup. I'm in contact with Dale and I'm flying blind. So hold on tight!

[2014-01-03 20:50] davidfowl commented on #20
Is this still happening :smile:

[2014-01-03 21:09] skoon commented on #20
Yes, I got waylaid by the holidays. Working on draft governance documents for folks to review.

[2014-01-13 18:36] skoon commented on #20
Post the initial draft for comments on Google Docs, I also posted the link in the HTTP Abstractions Google Group.
https://groups.google.com/forum/#!topic/net-http-abstractions/y78jpL6nEEY

The doc is located here: https://docs.google.com/document/d/1mn3dY6zNyKBU3P_TWoR-RdYpScJDbsXU2TRhwpSAha8/edit

[2014-01-26 13:17] laisee commented on #19
hi, whats the solution to this mixup in the code base? I am trying to build SignalR and failing due to the mixed references to IappBuilder ...

[2014-01-26 13:42] panesofglass commented on #19
@laisee where are you seeing multiple references for `IAppBuilder`? That currently exists in owin.dll, unless something has changed.

[2014-01-26 13:46] damianh commented on #19
Yep, only 1 IAppBuilder exists. You may get better help in the signalr
jabbr room.
On 26 Jan 2014 13:42, "Ryan Riley" notifications@github.com wrote:

[2014-01-26 13:55] laisee commented on #19
I try to add an Owin startup class to my project and IAppBuilder complains
about having two implementations.

G

On 26 January 2014 21:42, Ryan Riley notifications@github.com wrote:

[2014-01-26 13:57] damianh commented on #19
Need more detail. Compile errors for a start...
On 26 Jan 2014 13:55, "laisee" notifications@github.com wrote:

[2014-01-26 14:05] serialseb commented on #19
Cleaned up unneeded annoyance and angry messages, they're not helping anyone. If everyone shows good will we're all going in the right direction. I shall adhere to this principle going forward, and I hope others will modify their behavior too.

[2014-01-26 14:06] laisee commented on #19
Sorry for not being more specific, OwinExtensions class has two
implementations.

G

On 26 January 2014 21:57, Damian Hickey notifications@github.com wrote:

[2014-01-26 14:14] laisee commented on #19
apologies, ignore the post

Its due to messed up Nuget packages ...

G

On 26 January 2014 21:57, Damian Hickey notifications@github.com wrote:

[2014-03-06 14:33] panesofglass commented on #19
As a follow up to my [earlier comment](https://github.com/owin/owin/issues/19#issuecomment-30047938), I created a [gist](https://gist.github.com/panesofglass/9382425) to demonstrate how one might adapt a middleware that exposes only the Microsoft.Owin type `OwinMiddleware` to non-Katana environment. I welcome feedback.

For those who would prefer to just look below:

[code]

[2014-03-06 14:42] panesofglass commented on #19
Related to my [last comment](https://github.com/owin/owin/issues/19#issuecomment-36892868), could the middleware adapter get added to Microsoft.Owin? I would be happy to submit a pull request. (And I will of course convert the source to C#.)

[2014-03-06 15:27] Tratcher commented on #19
These adapters already exist in Microsoft.Owin. The complaint was that 3rd party implementations of IAppBuilder don't know they need these.  These IAppBuilders may not even have a concept of middleware conversion.

[2014-03-06 19:39] panesofglass commented on #19
Looks like my last comment didn't make it. Could you point out the location of the existing adapters? Thanks!

[2014-04-08 16:27] skoon commented on #19
I'm going to schedule an elections call soon, hopefully in the next two weeks, so that we can move forward with these types of issues.

You can review the documents.
https://groups.google.com/forum/#!topic/net-http-abstractions/Ga6owcdopOg
and
https://groups.google.com/forum/#!topic/net-http-abstractions/EKseVyOZX3g

We really need to get this moving. I've dropped the ball, but now I've picked it

[2014-04-11 20:44] half-ogre commented on #19
Sorry brother. This is where I ended up a few months ago.

[2014-04-11 22:14] skoon commented on #19
Alright, deep breath. In with Buddha, out with Hitler.

Let's give this another shot and see about setting up a call to get some elections going.

I've posted the draft documents for elections and governance in the Google Group

https://groups.google.com/forum/#!topic/net-http-abstractions/Ga6owcdopOg

https://groups.google.com/forum/#!topic/net-http-abstractions/GsBsj8HR774

Feel free to weigh in

[2014-04-11 22:17] serialseb commented on #19
@skoon I'll happily implement those interfaces. As for the elections, I'm happy to discuss these things, bandwidth is limited for now, but if people are serious about this and want me onboard, I'm happy to get back in.

[2014-04-11 22:18] serialseb commented on #19
That said for anything that is important, considering all things, if I am wanted a gentle nudge my way by skype or phone would be very effective from time to time. By the way I renewed owin.org. Nowt to do with the thread but thought I'd let people know, seeing as this thread is active.

[2014-04-12 00:17] panesofglass commented on #19
Apologies, @skoon. I just started a new job and have been heads down getting ramped up out-of-town. I'm very interested in seeing this move forward; I just haven't had a chance to respond. As to the linked documents, didn't we already review those? Are these new or revised in some way? I believe I notified you previously that I was for both. Apologies if that was not sent.

[2014-04-12 07:59] grumpydev commented on #19
I've resubscribed to email alerts on the group.. gotten out of the habit of manually checking it. I'm currently "on holiday" but will hopefully review the governance posts over the weekend, not that this is anywhere near close to my area of expertise!

For the record, IThinkScottKoonIsAwesome makes about as much sense as IAppBuilder in the main OWIN assembly ;)

[2014-04-12 09:31] damianh opened #21 "owin.RequestId - new standard key to uniquely identify a request"
I would like to propose a new owin key to help correlate a request through the various stages of the pipeline .i.e. Logging.

Name: "owin.RequestId"
Required: yes
Value Description: A `Guid` that uniquely identifies a request.

[2014-04-12 11:07] ThatRendle commented on #19
I've been on holiday, just got back yesterday and am fighting jetlag, but
will try to review the docs by Monday.

Mark

On Friday, 11 April 2014, Scott Koon notifications@github.com wrote:

##

_Mark Rendle_
_Founder & CEO_
_Oort Corporation_
_Makers of_ _Zudio_ https://zud.io/

[2014-04-14 22:55] shanselman commented on #19
Hi,

I'm not an expert, but I've read this thread twice. Please forgive my ignorance or any mistakes.
- Shouldn't IAppBuilder be in Microsoft.Owin.dll - In its own namespace and own assembly? (out of owin.dll)
- MSFT could make sure that Hello World examples include both with-IAppBuilder and without (like David's example)

The point being that, everyone should have the option to wire up their pipe

[2014-04-15 06:57] grumpydev commented on #19
@shanselman yes, although I think there's one more thing about agreeing delegate signatures/next - personally I have no issue with the next delegate, although whether the ctor is the best place to inject it I'm not convinced on. We currently use it in Nancy's host, but technically that makes us fall outside of the core spec.

[2014-04-15 10:50] ThatRendle commented on #19
@grumpydev I thought we were settled on the `Func<AppFunc, AppFunc>` delegate signature? What's probably needed is a simple example of how that is a functional analog of the class with an `AppFunc` constructor parameter and an `AppFunc` method.

e.g.

[code]

[2014-04-15 11:01] grumpydev commented on #19
@markrendle I remember discussion, wasn't sure if there was consensus .. not sure I understand your example though.. guess I'd need to either stop being dim, or see a more concrete example of using Func<appfunc, appfunc> to chain.

[2014-04-15 14:19] skoon commented on #19
@grumpydev There are some other examples in the issue related to the next param.
https://github.com/owin/owin/issues/20

@shanselman Short term, _I_ think that may be a fix. Long term we still need to decide. The beauty of this spec is, as it stands, there is NO binary dependency. Which makes versioning a snap! We can ship a new version of the spec, and consumers of the spec don't have to worry ab

[2014-04-15 16:22] panesofglass commented on #19
@shanselman Glad to see you join the discussion. If you've read this list twice, then you are nearly an expert. Your two points would help, though I wouldn't argue for the second. I don't think it's a problem for any implementation to favor an approach, so Katana favoring `IAppBuilder` is good and presents no problems.

The bigger issue is ensuring that OWIN-compliant middleware components are act

[2014-04-16 09:05] serialseb commented on #19
+1

[2014-04-16 09:51] damianh commented on #19
+1 @panesofglass

I have a number of owin nuget packages out there that depend on owin.dll / IAppBuilder. I am part of the problem. I'd happily remove that dependency, strictly conform to the spec and have separate builder specific integration packages. Waiting to pull the trigger folks :)

[2014-04-16 09:56] grumpydev commented on #19
+1 from me, that was pretty much my initial suggestion - quite happy to have Nancy.Owin and Nancy.Owin.AppBuilder/Katana/Whatever - if we end up accepting there's some commonality / small amount of patterns that come out in the wash then we can possibly look at bringing them into the spec.

[2014-04-16 11:39] serialseb commented on #19
[code]

You can ditch everything else me says.

[2014-04-17 00:46] diegobfernandez commented on #19
I agree that IAppBuilder should be moved out of Owin.dll.
I updated [a middleware I wrote a few weeks ago](https://github.com/diegobfernandez/WebStats) as of @grumpydev suggestion on Nancy.
I liked the results and could not found any drawback.
Hope it can help on taking any decision or as an example.

[2014-04-17 01:03] diegobfernandez commented on #21
I would apreciate this feature on https://github.com/diegobfernandez/WebStats.
With a key per request I could leverage its usefulness

[2014-04-17 17:59] serialseb commented on #19
The fact that IAppBuilder can take in a `Func<AppFunc,AppFunc>` is all good and all, my issue is resolving the spreading of IAppBuilder without having to lose the discoverability of the extension methods. So provided we accept MidFunc as `Func<AppFunc,AppFunc>` and hypothetise about a builder, signature being `Action<Func<AppFunc,AppFunc>>`, then moving from where we are now is easy as peas and ca

[2014-04-17 18:06] panesofglass commented on #19
:+1:

[2014-04-21 15:32] damianh commented on #19
I've taken a stab at @serialseb's suggestion in [Owin.Limits](https://github.com/damianh/Owin.Limits/tree/issue11/src), I would be grateful if people took a look, critique etc. (If this is OT for this issue, let me know)

Files of interest:
- https://github.com/damianh/Owin.Limits/blob/issue11/src/Owin.Limits/OwinLimitsMiddleware.ConnectionTimeout.cs and the other  OwinLimitsMiddleware.*.cs files

[2014-04-21 17:03] skoon commented on #21
The only arguments I can think of against this idea relate to hammering state on top of a stateless protocol. My argument is a little FUDdy though.

So unique ids per request leads to tracking, tracking leads to new keys like "userId" "formValue", etc..., lots of new keys lead to combing of the new keys into a single key with key-value pairs, a single key with key-value pairs leads to encrypting t

[2014-04-21 18:21] damianh commented on #21
I _think_ that may be a bit of a stretch from this proposal alright :D

In any case, these things should always be chewed on for a while..

[2014-04-22 15:34] diegobfernandez commented on #19
@damianh I noticed your comment on the namespace for MSOwinAppBuilder and I think it is just fine to be Owin.Katana as Katana is the MS Owin implementation.
Actually I created another project for Katana and created an Adapater for Katana and extensions methods for IAppBuilder

https://github.com/diegobfernandez/WebStats/blob/master/WebStats.Owin.Katana/WebStatsMiddlewareKatanaAdapter.cs

https://g

[2014-04-24 20:00] adamralph commented on #21
If the key only lives for the duration of a request, can it be considered to be persisting state in terms of the protocol?

[2014-04-24 21:12] Tratcher commented on #21
I like the concept, but I'll quiz you on the details:
- Required: Why should this be required? It does not represent data sent from the client. It is not critical to processing the request. The value is opaque and only requires some level of uniqueness.  If it were optional and missing, the first component that wanted to use to could just make up a value and set it.
- Type: Why GUIDs? You want som

[2014-04-24 21:17] adamralph commented on #21
Good thoughts @Tratcher. Echo from me.

Overall, I like the idea and I can imagine some cool uses for it.

[2014-04-24 21:26] damianh commented on #21
First, I hold my opinions weakly in these matters... :)

I suggested required because I wanted it to be a key that could be relied
upon across MW. But optional and popsicle immutable (set once if null)
works too.

Regarding uniqueness, personally I'd at least want it to be unique in a
webfarm. But as you said it's opaque... so perhaps it should be a string
and user gets to choose whether to use a

[2014-04-25 08:06] damianh commented on #21
And having it optional and popsicle immutable (by definition) makes it back-compat so owin v1.1 instead of v2...

[2014-05-02 01:46] serialseb commented on #21
Is there any reason why any middleware or app needing this functionality should not be able to inject its own middleware to provide that data? if that is the case, then there is no need to make it required, and if we just need to agree on the key and value, i'd support this proposal. I'd prefer owin.correlationId  over owin.requestId, as it feels more targetted to the intended usage, but I wouldn'

[2014-05-02 02:15] serialseb commented on #19
I think if Owin is Owin, then there should be no Owin namespace at all as a root namespace. I'm not sure what you're referring to though, checked the code (looks good), checked the previous conversations and can't quite make sense of it, so feel free to ignore me :)

[2014-05-05 15:07] serialseb commented on #19
An additional note on this. The Action<MidFunc> can't easily be used to convert ErrorPages from the Diagnostics module, as it relies on passing properties around to initialize a logger.

Is this something that we think is a general case (reading a properties on the equivalent builder), or should each component wireup things in an Options class? I personally favour the latter approach but can under

[2014-05-05 19:03] Tratcher commented on #19
@serialseb Yes there does need to be a way to get arbitrary config into a middleware.  Forcing everything into a property bag will be hard to use and is subject to collisions.  The Options pattern is nice, but I don't see a need for it to be built into the builder signature.  Consider these examples:

[code]

This leaves the configuration directly in the developers hands.

[2014-05-06 05:52] serialseb commented on #19
I was highlighting that the configuration does come from a property bag in the current ErrorPages to pull the logger factory and was wondering if that was a pattern that others found useful or required. My initial feel is that Options should really be how you configure this stuff, or other parameters on the builder extension method, so I agree with your example there. I wonder what the impact will

[2014-05-07 02:12] skoon commented on #19
I've called for a vote to sunset the OWIN.dll assembly in this repo.

https://groups.google.com/forum/#!topic/net-http-abstractions/YDbMZqGFVHA

[2014-05-07 02:14] skoon commented on #20
I've called for a vote to modify the spec to specify the Func<AppFunc,AppFunc> as the middleware signature.

https://groups.google.com/forum/#!topic/net-http-abstractions/cq7DqSSFQ00

[2014-05-07 11:37] damianh opened #22 "Use github issues for voting on proposals"
Create a label called 'proposal' for initial.. proposals. When enough discussion / lamenting / gnashing of teeth has occurred, the management committee can move the issue to vote stage by using the vote label if appropriate. We also should leverage milestones feature to associated proposals with versions of the spec.

[2014-05-07 11:40] damianh commented on #21
Nope.

Agreed

+0

Spec should state something along these line "A Host MAY specify this value. If it is not specified, middleware MAY set it. Once set, it SHOULD NOT be modified". Or should that be "...it MUST NOT be modified"?

[2014-05-07 12:09] damianh opened #23 "server.User common key"
I'm just going to make this statement for discussion purposes and does not imply I agree with it :)

`server.User` which is a `ClaimsPrincipal` has become the defacto standard key for identifying a user in a request pipeline. It should be at least added commmon keys.

[2014-05-07 12:15] damianh commented on #21
Just a thought, because this isn't strictly to facilitate between host and application, it could go to CommonKeys instead.

[2014-05-07 12:36] panesofglass commented on #21
+1 for proposing spec language!

-----Original Message-----
From: "Damian Hickey" notifications@github.com
Sent: ‎5/‎7/‎2014 6:40 AM
To: "owin/owin" owin@noreply.github.com
Subject: Re: [owin] New standard key to uniquely identify a request (#21)

Is there any reason why any middleware or app needing this functionality should not be able to inject its own middleware to provide that data?
Nope.
no

[2014-05-07 12:38] panesofglass commented on #23
I am for this idea.

-----Original Message-----
From: "Damian Hickey" notifications@github.com
Sent: ‎5/‎7/‎2014 7:09 AM
To: "owin/owin" owin@noreply.github.com
Subject: [owin] server.User common key (#23)

I'm just going to make this statement for discussion purposes and does not imply I agree with it :)
server.User which is a ClaimsPrincipal has become the defacto standard key for identifying a

[2014-05-07 13:12] khellang commented on #23
:+1:

[2014-05-07 14:14] panesofglass commented on #22
:+1: though we should use [owin.github.com](https://github.com/owin/owin.github.com).

[2014-05-07 16:09] damianh commented on #22
Sir yes sir!

[2014-05-07 18:07] Tratcher commented on #23
IPrincipal was more generally applicable than ClaimsPrincipal, especially since ClaimsPrincipal isn't available on .NET 4.0 (except as a not-quite-matching external library).

[2014-05-07 18:16] damianh commented on #23
That's another question, are we sticking on .net 4 as our base target
framework, what with xp's demise and the other thing that's happening?

Inb4 grumpydev and his win98 users.

On 7 May 2014 20:07, "Chris R" notifications@github.com wrote:

[2014-05-07 18:21] Tratcher commented on #23
ClaimsPrincipal implements IPrincipal, so they aren't mutually exclusive.  We could set IPrincipal as the minimum and recommend ClaimsPrincipal where available.

Katana v3 completely removes .NET 4.0 support, but that is primarily for engineering reasons (complexity, perf, etc.).

[2014-05-08 11:30] damianh commented on #23
Is anyone or anything actually using IPrincipal in a owin based app? Even when using the NTLM auth in a self-host, server.User is still a ClaimsPrincipal.

[2014-05-08 16:24] Tratcher commented on #23
For WindowsAuth it's a WindowsPrincipal.  In 4.0 it had no base class, just IPrincipal. In 4.5 they added the ClaimsPrincipal base class.
http://msdn.microsoft.com/en-us/library/system.security.principal.windowsprincipal(v=vs.100).aspx

[2014-05-09 16:00] serialseb commented on #23
What is the state for existing custom forms auth on existing asp.net with owin components working in parallel? Is the asp.net <-> owin adapter out there supporting translating from whatever asp.net supports to ClaimsPrincipal? Should it?

Which of the supported hosts and consumers rely on this key being a ClaimsPrincipal? How many are 4.5 only?

[2014-05-09 16:06] Tratcher commented on #23
Nothing in Katana requires it to be a ClaimsPrincipal, though we do use that extensively.  If we need a ClaimsPrincipal and don't get one, then we wrap it with the built in constructor.

We haven't made much effort to interop with the built in ASP.NET forms auth. We built our own in the cookie auth middleware because we wanted more configurability.

I can't speak for consuming apps and frameworks.

[2014-05-12 15:48] skoon commented on #22
Agreed

[2014-05-12 16:04] skoon commented on #20
As of today, the proposal to add

[code]

 to the official OWIN spec is passing 8-0 (+1: 7, 0: 1, -1:0)

We'll give it one more day I think just to make sure, then we'll close the voting.

[2014-05-12 16:07] skoon commented on #19
As of today, the proposal to sunset the OWIN.dll containing IAppBuilder is passing 13-0
(+1: 9, 0: 4, -1:0)

I think we can close the voting on this and discuss revamping the documents to provide a way for users of IAppBuilder to migrate to the current spec?

[2014-05-13 13:15] ThatRendle commented on #19
Good stuff.

Some time this week I'm going to find a minute to submit a pull request to
Raygun.Owin removing the Owin.dll dependency and write a blog post about
it. Possibly some of the text from that could be used in the docs?

M

_Mark Rendle_
_Founder,_ _Zudio_ https://zud.io/

On Mon, May 12, 2014 at 5:07 PM, Scott Koon notifications@github.comwrote:

[2014-05-18 02:02] diegobfernandez commented on #21
+0

[2014-05-21 08:41] serialseb commented on #19
Also, any text about the IAppBuilder should probably be a non-normative _note_ released by the working group, as it was never part of the specification.

[2014-05-21 08:43] serialseb commented on #20
I suggest we close this issue, and open a new pull request for the inclusion of MidFunc to a revised 1.1 version of the owin specification?

[2014-05-21 08:43] serialseb commented on #22
:+1:

[2014-05-21 08:44] serialseb commented on #22
Should someone on the committee add the label and the milestones for 1.1 (MidFunc) and maybe 1.2 (BuildFunc)?

[2014-05-21 08:47] serialseb commented on #23
So would it be the host job to turn any IPrincipal into a ClaimsPrincipal? Would people have to implement anything more than a wrapper around the current principal on the current host context?

Running katana on top of existing .net is going to be the reality for most long-running projects I'm working on for big clients, so compatibility (not preventing any current scenario) and ease of migration

[2014-05-21 08:48] serialseb commented on #18
What is the status on this?

[2014-05-21 18:30] panesofglass commented on #22
I think the idea is that we move away from having any code altogether unless they are samples. Should I push that for a vote?

[2014-05-24 14:54] panesofglass commented on #18
I believe these used to go to @loudej but should probably now go to @dragan since the project is sponsored by Monkey Square.

[2014-05-24 15:08] panesofglass commented on #19
I'm closing this issue. I submitted PR #24 to address the repository portions of this vote. I don't think we'll make any changes to the NuGet package except to possibly change the title to note that it will no longer be maintained (not that it needed maintenance).

[2014-05-24 15:08] #19 closed, assigned to nobody

[2014-05-24 15:10] panesofglass commented on #22
I'm going to close this and add the milestones @serialseb suggested to the owin.github.com project.

[2014-05-24 15:10] #22 closed, assigned to nobody

[2014-05-24 15:15] panesofglass commented on #22
[Milestones created](https://github.com/owin/owin.github.com/issues/milestones?with_issues=no)

[2014-05-24 15:19] damianh commented on #19
If pushing a new package (1.0.1?), should the interface be marked
obsolete(false)?
On 24 May 2014 16:08, "Ryan Riley" notifications@github.com wrote:

[2014-05-24 15:41] panesofglass commented on #19
If we push anything, we should push it as a major version so as not to break the world.

[2014-05-24 15:44] damianh commented on #19
What e
On 24 May 2014 16:41, "Ryan Riley" notifications@github.com wrote:

[2014-05-24 15:45] damianh commented on #19
Whatever version, marking as obsolete would send the right message rather
than the nuget package just being delisted?
On 24 May 2014 16:41, "Ryan Riley" notifications@github.com wrote:

[2014-05-24 16:06] khellang commented on #19
Is marking something obsolete (with `IsError = false`) considered a breaking change? I'd vote for a new version with the interface obsoleted. It'll give the people that have middleware depending on owin.dll a message to move on.

[2014-05-24 16:10] grumpydev commented on #19
No, it's not a breaking change, that was my point, it should be false, with a meaningful message and _not_ a major version change - that's what it's there for.

[2014-05-24 16:21] khellang commented on #19
Yeah, a simple message explaining why it's obsoleted and a link to a wiki article in this repo with a more detailed explanation and instructions on how to go forward sounds great. Also, if you were to bump major, would that be fetched with packages depending on >= 1.0.0?

[2014-05-24 17:03] adamralph commented on #19
It would. They have to be restricted to less than 2.0 to prevent it.
On 24 May 2014 18:21, "Kristian Hellang" notifications@github.com wrote:

[2014-05-24 17:16] damianh commented on #19
+1 non-breaking change
On 24 May 2014 17:10, "Steven Robbins" notifications@github.com wrote:

[2014-05-24 17:35] skoon commented on #19
+1 on marking it obsolete with a big warning.

[2014-05-24 17:43] panesofglass commented on #19
Sounds good to me. I hadn't planned on pushing anything new to NuGet, but this recommendation sounds good. +1

[2014-05-24 18:04] Tratcher commented on #19
-1
- Obsolete(Warning) is considered a breaking change since many projects enable warnings as errors.
- Nothing should be marked obsolete unto a replacement is generally available.
- Versioning the binary will require binding redirects in all projects.
- Older versions of NuGet will auto roll forward to the latest patch version, but not major version, so any package version change should be a majo

[2014-05-24 18:10] skoon commented on #19
People who treat warnings as errors aren't really our concern. We just put the info out there IMO, how they react is up to them.

There is a replacement available. The func specified in the spec. :)

[2014-05-24 18:24] ThatRendle commented on #19
Sorry, are we discussing a new version of OWIN.dll which will just have an Obsolete interface in it and nothing else?

Can't we just tell people?

[2014-05-24 18:29] khellang commented on #19
@markrendle That's exactly what you're doing by pushing a new version of the package. How would you tell people otherwise? The package with one interface is kinda the whole problem to start with :wink: Let's obsolete it and make it known that this is not the way moving forward :dancers:

[2014-05-24 18:57] panesofglass commented on #19
Hmm. I'm back to thinking we just empty the source and make a note on the README and in the  NuGet package's description that owin.dll is done. We should make OWIN easy to adopt, not force people to jump through hoops to make things work.

My recommendations:
- Don't push out a new NuGet package (of any version)
- Don't delist the existing NuGet package
- Do add text to the NuGet package descripti

[2014-05-24 19:07] panesofglass commented on #19
Okay, I've resubmitted my PR having added a note to the `README.md`.

[2014-05-24 20:22] khellang commented on #19
So to actually find out that owin.dll (or `IAppBuilder`, rather) is deprecated, you have to either drop by this repository and read that note way down in the readme or open up VS or the NuGet gallery to read the package metadata description? I understand that you _might_ read that if you're adding the package for the first time, but what about existing middleware? Are all middleware authors involv

[2014-05-24 21:32] panesofglass commented on #19
I think most middleware authors are either directly engaged or using the Katana abstractions. I'm open to other ideas, but ultimately owin.dll us already out there. No reason to try to rewrite history. I think we should just abandon it and advise people to move onto other options.

-----Original Message-----
From: "Kristian Hellang" notifications@github.com
Sent: ‎5/‎24/‎2014 3:22 PM
To: "owin/owi

[2014-05-24 22:09] skoon commented on #19
Heck I'm fairly certain all of them have posted to this issue.

[2014-05-24 22:48] adamralph commented on #19
I don't see what harm it would cause to push a new version with the
obsolete attribute. It provides more channels to communicate the
information, i.e. during compilation and in the source. Is there any
downside to doing this?

[2014-05-24 22:49] khellang commented on #19
@skoon Yeah, I thought that might be the case :stuck_out_tongue_closed_eyes:

@panesofglass I'm not saying we shouldn't abandon it. I'm saying we should get the message across as best we can :smile:

[2014-05-26 19:01] damianh commented on #21
Moved to https://github.com/owin/owin.github.com/issues/8 , please discuss there.

[2014-05-26 19:01] #21 closed, assigned to nobody

[2014-05-26 19:04] damianh commented on #23
Moved to https://github.com/owin/owin.github.com/issues/9 . Please continue discussion there.

[2014-05-26 19:04] #23 closed, assigned to nobody

[2014-05-26 20:19] damianh commented on #18
What is the contributor agreement for? Do I need to sign one? Since there is no code, is it necessary?

[2014-05-27 01:02] #20 closed, assigned to nobody

[2014-06-15 11:57] serialseb commented on #19
## How about a 2.0 that has an obsolete on the current memeber and a new one that is compatible with BuildFunc? Either way, I’d say let’s delay any decision on the package until we have a BuildFunc spec and a “getting way from IAppBuilder” document ready.

Sebastien Lambla
seb@serialseb.commailto:seb@serialseb.com - http://serialseb.com

On 24 May 2014, at 23:49, Kristian Hellang <notifications@gi

[2016-02-05 15:20] #18 closed, assigned to nobody